<div class="modal-wrapper">
  <div class="modal-content open">
    <div class="text-white large-title">{{ languageService.getCurrentLanguage() ? 'Languages' : 'Lenguajes' }}</div>
      <div class="container">
          <div class="item item1" data-title="JavaScript">
              <img src="assets/Languages/javascript.png" alt="JavaScript">
          </div>
          <div class="item item2" data-title="Python">
              <img src="assets/Languages/python.png" alt="Python">
          </div>
          <div class="item item3" data-title="SQL">
              <img src="assets/Languages/sql.png" alt="SQL">
          </div>
          <div class="item item4" data-title="CSS">
              <img src="assets/Languages/CSS.png" alt="CSS">
          </div>
          <div class="item item5" data-title="HTML">
              <img src="assets/Languages/html.png" alt="HTML">
          </div>
          <div class="item item6" data-title="C#">
              <img src="assets/Languages/C1.png" alt="C#">
          </div>
          <div class="item item7" data-title="TypeScript">
              <img src="assets/Languages/typescript.png" alt="TypeScript">
          </div>
          <div class="item item8" data-title="Tailwind">
              <img src="assets/Languages/Tailwind.png" alt="Tailwind">
          </div>
      </div>
      <div class="text-white large-title">{{ languageService.getCurrentLanguage() ? 'Frameworks' : 'Frameworks' }}</div>
      <div class="container">
          <div class="item item1" data-title="NestJS">
              <img src="assets/Frame/nestjs.png" alt="Descripción de la imagen 1">
          </div>
          <div class="item item2" data-title="Node.js">
              <img src="assets/Frame/nodejs.png" alt="Descripción de la imagen 1">
          </div>
          <div class="item item3" data-title=".NET">
              <img src="assets/Frame/net.png" alt="Descripción de la imagen 1">
          </div>
          <div class="item item4" data-title="Angular">
              <img src="assets/Frame/angular.png" alt="Descripción de la imagen 1">
          </div>
          <div class="item item5" data-title="React native">
              <img src="assets/Frame/react.png" alt="Descripción de la imagen 1">
          </div>
      </div>
      <div class="text-white large-title">{{ languageService.getCurrentLanguage() ? 'Data Science' : 'Ciencia de Datos' }}</div>
      <div class="container">
          <div class="item item1" data-title="Data Analysis">
              <img src="assets/Data/data.png" alt="Descripción de la imagen 1">
          </div>
          <div class="item item2" data-title="K-Nearest Neighbors">
              <img src="assets/Data/knn.png" alt="Descripción de la imagen 1">
          </div>
          <div class="item item3" data-title="Matplotlib">
              <img src="assets/Data/matplotlib.png" alt="Descripción de la imagen 1">
          </div>
          <div class="item item4" data-title="Model Ridge">
              <img src="assets/Data/Ridge.jpg" alt="Descripción de la imagen 1">
          </div>
          <div class="item item5" data-title="LightGBM">
              <img src="assets/Data/Light.png" alt="Descripción de la imagen 1">
          </div>
          <div class="item item6" data-title="XGBoost">
              <img src="assets/Data/xgb.png" alt="Descripción de la imagen 1">
          </div>
          <div class="item item7" data-title="Catboost">
              <img src="assets/Data/Catboost.png" alt="Descripción de la imagen 1">
          </div>
      </div>
      <div class="text-white large-title">{{ languageService.getCurrentLanguage() ? 'Tools' : 'Herramientas' }}</div>
      <div class="container">
          <div class="item item1" data-title="Cloudinary">
              <img src="assets/Tools/cloudinary.png" alt="Descripción de la imagen 1">
          </div>
          <div class="item item2" data-title="Json web token">
              <img src="assets/Tools/jwt.png" alt="Descripción de la imagen 1">
          </div>
          <div class="item item3" data-title="mongodb">
              <img src="assets/Tools/mongodb.png" alt="Descripción de la imagen 1">
          </div>
          <div class="item item4" data-title="SQLite">
              <img src="assets/Tools/sqlite.png" alt="Descripción de la imagen 1">
          </div>
          <div class="item item5" data-title="TypeOrm">
              <img src="assets/Tools/TypeOrm.png" alt="Descripción de la imagen 1">
          </div>
          <div class="item item6" data-title="Visual studio">
              <img src="assets/Tools/visual.png" alt="Descripción de la imagen 1">
          </div>
          <div class="item item7" data-title="Github">
              <img src="assets/images/github.png" alt="Descripción de la imagen 1">
          </div>
      </div>
  </div>
</div>
