<router-outlet></router-outlet>

<!-- Página principal con el GIF -->
<div class="greetings"></div>

<!-- Navbar -->
<div class="fixed w-full top-2">
  <nav class="flex justify-center">
    <ul class="flex space-x-4"> <!-- Reduce el espacio horizontal -->
      <li (click)="openModal('home')"><a class="neon-bar uppercase">{{ isEnglish ? 'HOME' : 'INICIO' }}</a></li>
      <li (click)="openModal('about')"><a class="neon-bar uppercase">{{ isEnglish ? 'ABOUT' : 'SOBRE MI' }}</a></li>
      <li (click)="openModal('education')"><a class="neon-bar uppercase">{{ isEnglish ? 'EDUCATION' : 'EDUCACIÓN' }}</a></li>
      <li (click)="openModal('work')"><a class="neon-bar uppercase">{{ isEnglish ? 'WORK' : 'TRABAJO' }}</a></li>
      <li (click)="openModal('skills')"><a class="neon-bar uppercase">{{ isEnglish ? 'SKILLS' : 'HABILIDADES' }}</a></li>
    </ul>
  </nav>
</div>
<!-- Footer -->
<footer class="footer">
  <div class="footer-indicator">
    <div class="indicator-content">
      <img src="../assets/images/down.png" alt="Down Arrow" class="arrow-icon">
    </div>
  </div>

  <div class="social-container">
    <div class="social-icons">
      <a href="https://github.com" target="_blank"><img src="../assets/images/github.png" alt="Github" class="social-img"></a>
      <a href="https://gmail.com" target="_blank"><img src="../assets/images/gmail.png" alt="Gmail" class="social-img"></a>
      <a href="https://linkedin.com" target="_blank"><img src="../assets/images/linkedin.png" alt="Linkedin" class="social-img"></a>
      <a href="https://whatsapp.com" target="_blank"><img src="../assets/images/wsp.png" alt="Whatsapp" class="social-img"></a>
    </div>
  </div>

  <div class="sound-icon" (click)="toggleSound()">
    <img [src]="isMusicOn ? '../assets/images/soundyellow.png' : '../assets/images/soundred.png'" alt="Sound" class="social-img">
  </div>

  <!-- Switch de idioma -->
  <div class="language-switch" style="position: absolute; bottom: 10px; left: 10px;">
    <label class="switch">
      <input type="checkbox" (change)="toggleLanguage()" [checked]="isEnglish">
      <span class="slider"></span>
      <span class="language-label">{{ isEnglish ? 'EN' : 'ES' }}</span>
    </label>
  </div>
</footer>


<!-- Modales -->
<app-home-modal *ngIf="modals.home" [modals]="modals"></app-home-modal>
<app-about-modal *ngIf="modals.about" [modals]="modals"></app-about-modal>
<app-education-modal *ngIf="modals.education" [modals]="modals"></app-education-modal>
<app-work-modal *ngIf="modals.work" [modals]="modals"></app-work-modal>
<app-skills-modal *ngIf="modals.skills" [modals]="modals"></app-skills-modal>
